.aboutContainer {
    width: 75vw;
    margin: auto;
    margin-top: 3rem;
    transition: all 0.2s ease;
    display: flex;
  }
  .aboutTextContainer{
    display: flex;
    color: #72fcdc;
    flex-direction: column;
    font-size: 1.5rem;
  }
.about{
    display: flex;
    align-items: center;
}
.aboutHead{
    margin-left: 0.5rem;
    color: #ccd6f6;
}
.aline{
    width: 15rem;
    margin-left: 1rem;
    border: 1px solid rgba(255,255,255,0.2);
}
.para{
    margin-top: 3rem;
    color: rgb(136, 146, 176);
    font-size: 17px;
    line-height: 26px;
    font-family: sans-serif;
    font-weight: 400;
    width: 34rem;
}
.para2{
    margin-top: 1rem;
}
.compname {
    text-decoration: none;
    color: #72fcdc;
    transition: all 0.2s ease;
  }
  .compname:hover {
    color: rgba(114, 252, 220, 0.8);
  }
  @media screen and (min-width:600px) and (max-width:800px) {
    .para{
        width: 29rem;
    }
    .aline{
        width: 14rem;
        margin-left: 1.2rem;
    }
    .aboutTextContainer{
        font-size: 1rem;
    }
  }
@media screen and (min-width:500px) and (max-width:600px) {
    .para{
        font-size: 17px;
        width: 22rem;
    }
    .aline{
        width: 12rem;
    }
    .aboutTextContainer{
        font-size: 1.2rem;
    }
}
@media screen and (min-width:400px) and (max-width:500px) {
    .para{
        width: 22rem;
        font-size: 17px;
    }
    .aline{
        width: 9rem;
    }
    .aboutTextContainer{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:400px) {
    .aboutTextContainer{
        font-size: 1.2rem;
    }
    .aline{
        width: 7rem;
    }
    .para{
        width: 17rem;
        font-size: 15px;
    }
}