@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #0A192F;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.ant-drawer-title{
  font-family: 'Roboto Mono', monospace !important;
  margin-left: 1rem !important;
  color: white !important;
}
.ant-drawer-close{
  color: white !important;
}