@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #0A192F;
  overflow-x: hidden;
}