.section {
  width: 78vw;
  margin: auto;
  margin-top: 2rem;
  color: #72fcdc;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.myn {
  margin-left: 0.5rem;
}
.name {
  color: #ccd6f6;
  font-size: 5rem;
  font-weight: bolder;
  margin-top: 1rem;
  font-family: "Nunito Sans", sans-serif;
}
.thing {
  color:  rgba(204,214,246,0.8);
  font-size:  69.64px;
  line-height: 0.9;
  font-weight: bolder;
  margin-top: 5px;
  font-family: "Nunito Sans", sans-serif;
}
.company {
  max-width: 540px;
  font-size: 18px;
  color: rgb(136, 146, 176);
  line-height: 26px;
  font-family: Calibri;
  margin-top: 2rem;
}
.compname {
  text-decoration: none;
  color: #72fcdc;
  margin-left: 0.5rem;
  transition: all 0.2s ease;
}
.compname:hover {
  color: rgba(114, 252, 220, 0.8);
}
.btnContainer {
  width: 13rem;
}
.resume {
  margin-top: 2.5rem;
  height: 4rem;
  width: 13rem;
  background-color: transparent;
  color: #72fcdc;
  font-family: "Roboto Mono", monospace;
  border: 1px solid #72fcdc;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.resume:hover {
  background-color: rgba(114, 252, 220, 0.1);
}

/* Mail Code */
.mailContainer {
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translate(7rem,-18rem);
}
.gmail {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  transform: rotate(90deg);
}
.mail{
    margin-right: 2rem;
    transition: all 0.2s ease;
}
.mail:hover {
  color: #72fcdc;
  margin-right: 2.3rem;
}
.mailLine {
  height: 0;
  width: 10rem;
}

/* Info Responsive */
@media screen and (max-width:900px) and (min-width:770px) {
  .section{
    width: 77vw;
    height: 90vh;
    margin: auto;
    margin-top: 3rem;
  }
  .company {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 770px) {
  .company {
    margin-top: 1rem;
  }
  .section{
    width: 77vw;
    height: 100vh;
    margin: auto;
    margin-top: 3rem;
  }
}
@media screen and (max-width:600px) and (min-width:500px) {
  .name {
    font-size: 3.5rem;
  }
  .thing {
    font-size: 2.8rem;
  }
  .company {
    margin-top: 1rem;

  }
  .section{
    width: 77vw;
    height: 100vh;
    margin: auto;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 450px) and (max-width: 500px) {
  .name {
    font-size: 3.5rem;
  }
  .thing {
    font-size: 2.8rem;
  }
  .company {
    margin-top: 1rem;
  }
  .section{
    width: 87vw;
    height: 100vh;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
  .name {
    font-size: 3rem;
  }
  .thing {
    font-size: 2.3rem;
  }
  .company {
    margin-top: 1rem;
  }
  .section{
    width: 87vw;
    height: 97vh;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .name {
    font-size: 2.6rem;
  }
  .company {
    margin-top: 1rem;
  }
  .section{
    height: 100vh;
    margin-top: 0.5rem;
  }
  .thing{
    font-size: 40px
  }
}

/* Mail Responsive */
@media screen and (max-width:1000px) and (min-width:920px) {
 .mailContainer{
    transform: translate(8rem,-17rem);
 }   
}
@media screen and (max-width:920px) and (min-width:860px) {
    .mailContainer{
        transform: translate(9rem,-17rem);
    }
}
@media screen and (max-width:860px) and (min-width:770px) {
    .mailContainer{
        transform: translate(10rem,-17rem);
    }
}
@media screen and (max-width:770px) {
    .mailContainer{
        display: none;
    }
}