.nav {
  width: 100vw;
  height: 100px;
  background-color: #0a192f;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navContainer {
  display: flex;
  margin-right: 4rem;
  justify-content: center;
  align-items: center;
}
.linkContainer {
  display: flex;
}
.link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 6rem;
  height: 36.89px;
  align-items: center;
  margin-left: 1rem;
  text-align: center;
}
.linkTxt {
  transition: all 0.2s ease;
}
.linkTxt:hover {
  color: #72fcdc;
}
.num {
  width: 1.9rem;
  color: #72fcdc;
}
.resume {
  margin-left: 1rem;
  height: 2.5rem;
  width: 5rem;
  background-color: transparent;
  color: #72fcdc;
  border: 1px solid #72fcdc;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.resume:hover {
  background-color: rgba(114, 252, 220, 0.1);
}

.circleAvatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 2rem;
  border: 2px solid #72fcdc;
}
.avatar {
  padding-left: 5px;
  padding-top: 6px;
  width: 100%;
  object-fit: contain;
}
.drawerIcon {
  display: none;
  color: #72fcdc;
  scale: 1.5;
  margin-right: 2rem;
}

.drawer{
  height: 100vh;
  width: min(65vw, 400px);
  overflow-y: scroll;
  background-color: #0a192f;
  box-shadow: -5px -5px 5px #122c53;
  transition: all 0.2s ease-in-out;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  color: white;
  display: none;
}

.title{
  margin-top: 1rem;
}
.logo{
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}
.cross{
  position: absolute;
  top: 2.4rem;
  right: 0.5rem;
  scale: 1.5;
}
.listTile{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 2rem;
}
.link{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headHome{
  display: inline-block;
  padding-bottom: 0.7rem;
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in-out;
}
.headHome:hover{
  color: rgba(114, 252, 220, 0.8);
}
.homeIcon{
  padding-top: 0.15rem;
  scale: 1.28;
}
@media screen and (max-width: 800px) and (min-width: 750px) {
  .navContainer {
    margin-right: 3rem;
  }
}
@media screen and (max-width: 750px) and (min-width: 680px) {
  .navContainer {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 680px) {
  .navContainer {
    display: none;
  }
  .drawerIcon{
    display: block;
  }
  .drawer{
    display: block;
  }
  .linkContainer {
    flex-direction: column;
  }
  .link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .linkTxt {
    margin-top: 0.3rem;
  }
  .resume{
    width: 7rem;
    height: 3rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
  }
}
